<div id="contribution-overlay" class="contribution-overlay"></div>
<div id="contribution-div" class="contribution">
  <button id="contribution-btn" class="contribution-btn"></span><span class="close">&times</span></button>
  <div class="contribution-container">
      <div class="contribution-img"> </div>
      <h2> Contribute to help us improve!</h2> 
      <p> Are there edge cases or problems that we didn't consider? Is there a technical pitfall that we should add? Did we miss a comma in a sentence? </p>
      <p> If you have any input for us, we would love to hear from you and appreciate every contribution. Our goal is to learn from projects for projects such that nobody has to reinvent the wheel. </p>
      <p> Let's collect our experiences together to make room to explore the novel! </p> 
      <p> To contribute click on <span class="devonfw-primary-color">Contribute to this page</span> on the toolbar.</p-->
  </div>
</div>