<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Support</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Microsoft Teams</a>
            <a class="navbar-item" href="#">Yammer</a>
            <a class="navbar-item" href="#">Email</a>
          </div>
        </div>
        <a class="navbar-item" href="http://adcenter.capgemini.com/">ADCenter</a> -->
        <a class="navbar-item" href="/website/pages/learning/">Tutorials</a>
        <a class="navbar-item" href="/website/pages/solutions/">Solutions</a>
        <a class="navbar-item" href="/website/pages/docs/master.html">Docs</a>
        {{#if env.SITE_SEARCH_PROVIDER}}
          <div class="navbar-item search hide-for-print">
            <div id="search-field" class="field">
              <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
            </div>
          </div>
        {{/if}}
        <a class="navbar-github navbar-item" href="https://github.com/devonfw/"></a>
      </div>
    </div>
  </nav>
</header>
